{% extends "main.html" %}

{% block extra_styles %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/feed.css' %}">

{% endblock  %}

{% block title %}
feed
{% endblock %}

{% block content %}

<div class='games-feed-container'>
    {% for feed_game in feed_games %}
        <div class='game-feed-container loading' >
            <div class='game-container'>
                <a href="{% url 'game' feed_game.id %}">
                    <img src="{{feed_game.icon_url}}" alt="{{feed_game.source_name}}" class='game-feed-image'>
                    {% if feed_game.rating %}
                    <p class='game-rating'>
                        {{feed_game.rating}}
                    </p>
                    {% else %}
                        <p class='game-rating'>
                            No rating
                        </p>
                    {% endif %}
                    <p class='game-name'>
                        {{feed_game.source_name}}
                    </p>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'js/icons_show_feed.js' %}"></script>

{% endblock  %}