{% extends "main.html" %}

{% block extra_styles %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/game.css' %}">

{% endblock %}

{% block content %}

{{user.username}}
<img src="{{user.avatar.url}}" alt="user-avatar" width="200" height="200" class="avatar">
<div class='reviews-container'>
{% for review in reviews %}
  <div class='review-container'>
    <div class='review-game-container'>
      <p class='review-game'>
        Game: {{review.game.source_name}}
      </p>
    </div>
    <div class='review-score-container'>
      <p class='review-score'> 
        Rating: {{review.score}} / 10
      </p>
    </div>
    <hr style="margin: 0;">
    <div class='review-body-container'>
      <pre class='review-body' >{{review.body}}</pre>
    </div>
    {% if request.user == review.author %}
    <div class='edit-container'>
      <a href="{% url 'edit-review' review.id %}" class='edit'>Edit</a>
      <a href="{% url 'delete-review' review.id %}" class='delete'>Delete</a>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>


<script src="{% static 'js/user-profile.js' %}"></script>

{% endblock content %}